<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Gender</th>

        <th>BirthDate</th>

        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>JobTitle</th>
        <th>Password</th>

    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.FullName</td>
            <td>@i.ID</td>
            <td>@i.Gender</td>
            <td>@i.BDate</td>
            <td>@i.Salary</td>
            <td>@i.Phone</td>
            <td>@i.Email</td>
            <td>@i.JobTitle</td>
            <td>@i.Password</td>
        </tr>
    }
</table>