@using Hospital_Management_System.ViewModel
@model PatientAppointmentViewModel

@{
    Layout = "_Patient";
}

<div class="details">
    <div class="recentOrders">
        <!-- ================ Appointment Details ================= -->
        <div class="content-section">
            <h2>Appointment Details</h2>
            <div class="details-item">
                <label>Appointment ID:</label>
                <span class="detail-value">@Model.Appointment.Id</span>
            </div>
            <div class="details-item">
                <label>Date/Time:</label>
                <span class="detail-value">@Model.Appointment.Date</span>
            </div>
            <div class="details-item">
                <label>Status:</label>
                @if (Model.Appointment.Status == "Canceled")
                {
                    <span class="detail-value status-confirmed" style="color:red">@Model.Appointment.Status</span>
                }
                else{
                    <span class="detail-value status-confirmed">@Model.Appointment.Status</span>
                }

            </div>
            <!-- Display additional details from the view model as needed -->
            <div class="details-item">
                <label>Patient Name:</label>
                <span class="detail-value">@Model.patient.FullName</span>
            </div>
            <div class="details-item">
                <label>Doctor Name:</label>
                <span class="detail-value">@Model.staff.FullName</span>
            </div>
            <div class="details-item">
                <label>Doctor phone:</label>
                <span class="detail-value">@Model.staff.Phone</span>
            </div>
            <div class="details-item">
                <label>Doctor Email:</label>
                <span class="detail-value">@Model.staff.UserName</span>
            </div>

            <div class="details-buttons">
                <form method="get" asp-action="UpdateAppointmentDate" asp-route-appointmentId="@Model.Appointment.Id">
                    <!-- Pass the appointment ID as a form parameter -->
                    <input type="hidden" name="appointmentId" value="@Model.Appointment.Id" />
                    <button type="submit" class="btn btn-primary">Update Appointment</button>
                </form>

                <form method="post" asp-action="DeleteAppointment" asp-route-appointmentId="@Model.Appointment.Id">
                    <button type="submit" class="btn btn-danger">Delete Appointment</button>
                </form>
            </div>
</div>
        </div>
    </div>
</div>
