@using Hospital_Management_System.ViewModel
@using Hospital_Management_System.Models
@model PatientAppointmentMedicalRecordVM

@{
    Layout = "_Doctor";

   
   
}

<div class="details">

    <div class="recentOrders">
        <!-- ================ Appointment Details ================= -->
       
        <partial name="_Appointment" model="@Model.Appointment" appointment="@Model.Appointment"/>

        <!-- ================ Patient Details ================= -->
        <div class="content-section">
            <div style="max-width:fit-content">Patient Details</div>
            <div class="details-item">
                <label>Patient ID:</label>
                <span class="detail-value">@Model.Patient.ID</span>
            </div>
            <div class="details-item">
                <label>Name:</label>
                <span class="detail-value">@Model.Patient.FullName</span>
            </div>
            <div class="details-item">
                <label>Phone Number:</label>
                <span class="detail-value">@Model.Patient.Phone</span>
            </div>
            <div class="details-item">
                <label>Age:</label>
                <span class="detail-value">@ViewData["age"]</span>
            </div>
            <div class="details-item">
                <label>Gender:</label>
                <span class="detail-value">@Model.Patient.Gender</span>
            </div>
            <div class="details-item">
                <label>Blood Type:</label>
                <span class="detail-value">@Model.Patient.Blood_Type</span>
            </div>
        </div>

        <!-- ================ Medical History ================= -->
        <div class="content-section">
            <h2>Medical History</h2>
            @foreach(var item in Model.MedicalRecords)
            {
                <div class="content-card">
                    <div class="record-details">
                        <label>Record ID:</label>
                        <span class="detail-value">@item.Id</span>
                    </div>
                    <div class="record-details">
                        <label>Start Date:</label>
                        <span class="detail-value">@item.StartDate</span>
                    </div>
                    <div class="record-details">
                        <label>Diagnosis:</label>
                        <span class="detail-value">@item.Diagnosis</span>
                    </div>
                    <div class="record-details">
                        <label>Treatment:</label>
                        <span class="detail-value">@item.Treatment</span>
                    </div>
                </div>
            }

            </div>

            <div class="add-record-btn">
                <a asp-action="AddMedicalRecord" asp-controller="Doctor" asp-route-_patietnid="@Model.Appointment.Patient_id" class="button">Add New Record</a>
            </div>
    </div>
 </div>

@section Scripts{
    <script>
        //update status ajax
        $(document).ready(function () {
            $('#updateStatusButton').click(function () {
                event.preventDefault();

                $.ajax({
                    url: $('#updateStatusForm').attr('action'),
                    type: 'POST',
                    data: $('#updateStatusForm').serialize(),
                    success: function (response) {
                        $('#statusMessage').text('');
                        if (response.success) {
                            $('#statusMessage').text(response.message).css('color', 'green');
                            $('#status-display').text(response.newStatus);

                            switch (response.newStatus) {
                                case 'Canceled':
                                    $('#status-display').text(response.newStatus).css('color', '#ff0000');
                                    break;
                                case 'Scheduled':
                                    $('#status-display').text(response.newStatus).css('color', '#ff9900');
                                    break;
                                case 'Confirmed':
                                    $('#status-display').text(response.newStatus).css('color', '#28a745');
                                    break;
                                default:
                                    break;
                            }


                        } else {
                            $('#statusMessage').text(response.message).addClass('text-danger');
                        }
                    },
                    error: function () {
                        $('#statusMessage').text('An error occurred. Please try again.').addClass('text-danger');
                    }
                });
            });
        });
    </script>
}