@* @model AddDoctorVM

@{
    Layout = null; // or Layout = "";
    var DepartmentList = new SelectList(ViewBag.dept, "Id", "Name");
}


<head>
    <title>Edit Doctor </title>
    <link rel="stylesheet" href="/css/register-style.css" />
</head>
<body>
    <section class="container">
        <header>Edit Doctor Form</header>
        <form asp-action="SaveEdit" asp-controller="DoctorsManagment" asp-route-id="@Model.Id" method="post" class="form">
            <!----------------------------------------------------------------------------------------------------->

            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="FullName">Full Name</label>
                        <input class="form-control" asp-for="FullName" placeholder="Enter Your Full Name" value="@Model.FullName" required />
                        <span asp-validation-for="FullName" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Specialization">Specialization</label>
                        <input class="form-control" asp-for="Specialization" placeholder="Enter The Specialization" value="@Model.Specialization" required />
                        <span asp-validation-for="Specialization" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="Qualifications">Degree &#160;</label>
                        <input class="form-control" asp-for="Qualifications" placeholder="Qualifications" value="@Model.Qualifications" required />
                        <span asp-validation-for="Qualifications" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Role">Job Title</label>
                        <input class="form-control" asp-for="Role" placeholder="Enter The Job Title" value="@Model.Role" required />
                        <span asp-validation-for="Role" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="Email">Doctor Email</label>
                        <input class="form-control" asp-for="Email" placeholder="Enter Doctor Email" value="@Model.Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Salary">Doctor Salary</label>
                        <input class="form-control" asp-for="Salary" placeholder="Enter Doctor Salary " value="@Model.Salary" required />
                        <span asp-validation-for="Salary" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="Password">Enter Password</label>
                        <input class="form-control" asp-for="Password" placeholder="Enter Password" vlaue="@Model.Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label class="repass">Confirm Password</label>
                        <input class="form-control" class="repass" placeholder="Confirm Password" />
                        <span class="text-danger"></span>

                    </div>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------->

            <div class="column">
                <div class="input-box PhoneNumber">
                    <label asp-for="Phone">Phone Number</label>
                    <input class="form-control" asp-for="Phone" placeholder="Enter Doctor Phone" value="@Model.Phone" required>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="input-box BirthDate">
                    <label asp-for="BDate">Doctor Birth Date</label>
                    <input type="date" class="form-control" asp-for="BDate" placeholder="Enter Doctor Birth Date " value="@Model.BDate" required />
                    <span asp-validation-for="BDate" class="text-danger"></span>
                </div>

            </div>
            <div class="column">
                <div class="input-box PhoneNumber">
                    <label asp-for="Governorate">Enter Governorate</label>
                    <input class="form-control" asp-for="Governorate" placeholder="Enter Governorate" value="@Model.Governorate" />
                    <span asp-validation-for="Governorate" class="text-danger"></span>

                </div>
                <div class="input-box PhoneNumber">
                    <label asp-for="City">Enter City</label>
                    <input class="form-control" asp-for="City" placeholder="Enter City" value="@Model.City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>
            </div>
            </div>
            <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="@Model.Gender" />
                        <label asp-for="Gender" class="control-label">Male</label>
                    </div>
                    <div class="gender">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="@Model.Gender" />
                        <label asp-for="Gender" class="control-label">Female</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="input-box address">
                           <label asp-for="DeptId">Department</label>
                <div class="column">
                <div class="country-select-box select-box">
                        <select class="form-control" asp-for="DeptId" asp-items="@DepartmentList" value="@Model.DepartmentName"></select>
                        <span asp-validation-for="DeptId" class="text-danger"></span>
                    </div>
                </div> 

                <button>Save</button>
        </form>
    </section>
</body>


 *@