@model Hospital_Management_System.ViewModel.EditDoctorVM

@{
    Layout = null; // or Layout = "";


    SelectList listItems = new SelectList(ViewBag.departments, "Id", "Name");

}


<head>
    <title>Add Doctor </title>
    <link rel="stylesheet" href="/css/doc-register-style.css" />
    @* <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css *@" 
</head>
<body>
    <section class="container">
        <header>Add Doctor Form</header>
        <form asp-controller="DoctorsManagment" asp-action="EditDoctor" method="post" class="form">
            <!----------------------------------------------------------------------------------------------------->

            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="FullName">Full Name</label>
                        <input class="form-control" asp-for="FullName" Value="@Model.FullName" />
                        <span asp-validation-for="FullName" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Specialization">Specialization</label>
                        <input class="form-control" asp-for="Specialization" Value="@Model.Specialization" />
                        <span asp-validation-for="Specialization" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="Qualifications">Degree &#160;</label>
                        <input class="form-control" asp-for="Qualifications" Value="@Model.Qualifications" />
                        <span asp-validation-for="Qualifications" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Role">Job Title</label>
                        <input class="form-control" asp-for="Role" Value="@Model.Role" />
                        <span asp-validation-for="Role" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="input-box ">
                <div class="column">
                    <div class="col">
                        <label asp-for="UserName">Doctor UserName</label>
                        <input class="form-control" asp-for="UserName" Value="@Model.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Salary">Doctor Salary</label>
                        <input class="form-control" asp-for="Salary" Value="@Model.Salary" />
                        <span asp-validation-for="Salary" class="text-danger"></span>

                    </div>
                </div>
            </div>

            </div>
            </div>
            <!----------------------------------------------------------------------------------------------------->

            <div class="column">
                <div class="input-box PhoneNumber">
                    <label asp-for="Phone">Phone Number</label>
                    <input class="form-control" asp-for="Phone" Value="@Model.Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>

                </div>
                <div class="input-box BirthDate">
                    <label asp-for="BDate">Doctor Birth Date</label>
                    <input type="date" class="form-control" asp-for="BDate" Value="@Model.BDate" />
                    <span asp-validation-for="BDate" class="text-danger"></span>
                </div>

            </div>
            <div class="column">
                <div class="input-box PhoneNumber">
                    <label asp-for="Governorate">Enter Governorate</label>
                    <input class="form-control" asp-for="Governorate" Value="@Model.Governorate" />
                    <span asp-validation-for="Governorate" class="text-danger"></span>

                </div>
                <div class="input-box PhoneNumber">
                    <label asp-for="City">Enter City</label>
                    <input class="form-control" asp-for="City" Value="@Model.City" />
                    <span asp-validation-for="City" class="text-danger"></span>


                </div>
            </div>
            </div>

            <div class="input-box address">
                <label asp-for="DeptId">Department</label>
                <div class="column">
                    <div class="country-select-box select-box">
                        <select class="form-control" asp-for="DeptId" asp-items="@listItems" ></select>
                        <span asp-validation-for="DeptId" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="input-box address ">
                <label asp-for="Password">Enter Password</label>
                <div class="column">
                    <input class="form-control" asp-for="Password" Value="@Model.Password" />
              
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                    <div class="gender">
                       <input class="form-check-input" type="radio" asp-for="Gender" value="Male" checked='@(Model.Gender == "Male" ? "checked" : null)' />
                        <label asp-for="Gender" class="control-label">Male</label>
                    </div>
                    <div class="gender">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="Female" checked='@(Model.Gender == "Female" ? "checked" : null)' />
                        <label asp-for="Gender" class="control-label">Female</label>

                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="Shift" value="Day" />
            <input type="hidden" asp-for="Country" value="Egypt" />

            <button>Save</button>
        </form>
    </section>
</body>


<style>
    span {
        color: red;
    }
</style>


@* <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
